<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert Headers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Header Converter</h1>
        <div class="input-output">
            <textarea id="headersInput" placeholder="Paste your headers here..."></textarea>
            <button onclick="convertHeaders()">Convert Headers</button>
        </div>
        <div class="output-container">
            <div class="double-column">
                <div class="column">
                    <div class="output-title">Headers Object</div>
                    <pre class="formatted-headers" id="formattedHeaders"></pre>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>
